<h2>Task</h2>

<p>Title: <%= @task.title %> </p>
<p>Text: <%= @task.details %> </p>
<p>Completed: <%= @task.completed %> </p>

<%= link_to "Edit", edit_task_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Back to list", tasks_path %>
